<html>
    <head>
        {% if title %}
            <title>{{ title }} - Nini DB</title>
        {% else %}
            <title>Nini DB</title>
        {% endif %}
    </head>
    <body>
        <div>
            Nini Chop DB program

            <a href="{{ url_for('index') }}">בית</a>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">כניסה</a>
            {% else %}
                <a href="{{ url_for('logout') }}">יציאה</a>
            {% endif %}

            {% if current_user.username == config['ADMIN_USER_NAME'] %}
                <a href="{{ url_for('add_therapist') }}">Add Therapist</a>
                <a href="{{ url_for('yad_davids') }}">Yad Davids</a>
            {% endif %}


        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>